
OnlineBankingApp/.vs/OnlineBankingApp/FileContentIndex/0ee05dd5-059e-4e41-9fa8-7ce0004b3700.vsidx
*.vsidx
*.v2
/OnlineBankingApp/.vs/OnlineBankingApp/v17
/OnlineBankingApp/ApiGateways/Ocelot.ApiGateway/bin
/OnlineBankingApp/ApiGateways/Ocelot.ApiGateway/obj
/OnlineBankingApp/Infrastructure/Helper.Infrastructure/bin
/OnlineBankingApp/Infrastructure/Helper.Infrastructure/obj
/OnlineBankingApp/Infrastructure/Logging.Infrastructure/bin
/OnlineBankingApp/Infrastructure/Logging.Infrastructure/obj
/OnlineBankingApp/Infrastructure/Mailing.Infrastructure/bin
/OnlineBankingApp/Infrastructure/Mailing.Infrastructure/obj
/OnlineBankingApp/Infrastructure/PdfGenerator.Infrastructure/bin
/OnlineBankingApp/Infrastructure/PdfGenerator.Infrastructure/obj
/OnlineBankingApp/Services/Account/Account.Api/bin
/OnlineBankingApp/Services/Account/Account.Api/obj
/OnlineBankingApp/Services/Account/Account.Application/bin
/OnlineBankingApp/Services/Account/Account.Application/obj
/OnlineBankingApp/Services/Account/Account.Core/obj/Debug
/OnlineBankingApp/Services/Account/Account.Core/bin
/OnlineBankingApp/Services/Account/Account.Core/obj
/OnlineBankingApp/Services/Account/Account.Infrastructure/bin
/OnlineBankingApp/Services/Account/Account.Infrastructure/obj
/OnlineBankingApp/Services/Account/Account.Test/bin
/OnlineBankingApp/Services/Account/Account.Test/obj
/OnlineBankingApp/Services/Auth/Auth.Api/obj
/OnlineBankingApp/Services/Auth/Auth.Application/obj
/OnlineBankingApp/Services/Auth/Auth.Core/obj
/OnlineBankingApp/Services/Auth/Auth.Infrastructure/obj
/OnlineBankingApp/Services/Auth/Auth.Test/obj
/OnlineBankingApp/Services/Auth/Auth.Api/bin
/OnlineBankingApp/Services/Auth/Auth.Application/bin
/OnlineBankingApp/Services/Auth/Auth.Core/bin
/OnlineBankingApp/Services/Auth/Auth.Infrastructure/bin
/OnlineBankingApp/Services/Auth/Auth.Test/bin/Debug
/OnlineBankingApp/.vs
/OnlineBankingApp/Services/Auth/Auth.Messaging.Send/obj
/OnlineBankingApp/Services/Auth/Auth.Messaging.Send/bin
/OnlineBankingApp/Services/Account/Account.Messaging.Receive/obj
/OnlineBankingApp/Infrastructure/Common.Infrastructure/bin
/OnlineBankingApp/Infrastructure/Common.Infrastructure/obj
